body {background-color: pink;}
h1 {background-color: #8C4955; font-size: 40px; display: flex; justify-content: center; color: white;text-decoration: underline; }
p {color: black;}
.ParrafoBlanco {color: white;}
.ParrafoAmarillo {color: yellow;}
.Titulo {background-color: blue;display: flex; justify-content: center; color: white;text-decoration: underline;}
.ImagenMediana {width: 600px; height: 400px}
.claseAside {background-color: #8C4955;}
.Imagenes150x150 {height: 150px; width: 150px}
.RedSocial {height: 50px; width: 50px}
/*********************************************************************************/
/* Ventana Flotante loca Whats                                                                  */
/*********************************************************************************/
.ventanaFlotante {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 6px 6px 6px 6px;
  top: 150px;
  left: auto;
  margin-left: 650px;
  padding: 10px 0 0;
  position: fixed;
  text-align: center;
  height: 90px;
  width: 90px;
  z-index: 15;
}
/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/
.button
{
  display: inline-block;
  margin-top: 2em;
  padding: 1em 3em;
  background: #C4376B;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  letter-spacing: 0.20em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.90em;
  color: #FFF;
}
.button:hover
{
  background: #D64077;
}

.button:active
{
  background: #BD3567;
}

.buttonMenu
{
  display: inline-block;
  margin-top: 2em;
  padding: 1em 3em;
  background: #A45E42;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  letter-spacing: 0.20em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.90em;
  color: #FFF;
}
