body {
  background-color: pink;
}
header {
  background-image:url('https://media.tycsports.com/files/2019/01/29/40299/choripan.jpeg')
}
p {
  color: black;
}

ul li {
  display: inline-block;
}
main {
  float: left;
  width: 100vw;
  background: red;
  clear: both;
}
nav {
  float: left;
  width: 50vw;
  background: blue;
  height: 50vh;
  margin: 1%;
  padding: 2px;
  border:  2px solid black;
  box-sizing: border-box;
}
section {
  float: left;
  width: 100vw;
  background: yellow;
  height: 60vh;
  margin: 1%;
  padding: 2px;
  border:  2px solid black;
  box-sizing: border-box;
}
aside {
  float: left;
  width: 40vw;
  background: green;
  height: 50vh;
  margin: 1%;
  padding: 2px;
  border:  2px solid black;
  box-sizing: border-box;
}

footer {
  width: 12vw;
  background: white;
  border-radius: 5%;
  clear: both;
}
.Video {
  float: right;
}

.ParrafoBlanco {
  color: white;
  font-size: 1rem;
}
.ParrafoAmarillo {
  color: yellow;
  font-size: 1rem;
}
.ParrafoNegro {
  color: black;
  font-size: 1rem;
}
h1 {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: underline;
  font-size: 5rem;
}
h2 {
  display: flex;
  justify-content: left;
  color: red;
  font-size: 3rem;
}

.ImagenMediana {
  display: block;
  width: 20vw;
}
.ImagenGrande {
  width: 40vw;
}

.Imagen150x150:hover{
  width: 5vw;
}
.Imagen150x150:hover{
  background: url("../imagenes/mariposa.jpg") no-repeat;
}


img:hover{
  width: 10vw;
  height: auto;
}

.RedSocial {
  height: 5vh;
  border-radius: 50%;
  align-items: center;

}
/*********************************************************************************/
/* Ventana Flotante loca Whats                                                                  */
/*********************************************************************************/
.ventanaFlotante {
  height: 10vh;
  border-radius: 50%;
  top: 12%;
  margin-left: 88%;
  position: fixed;
}
.pieFlotante {
  height: 10vh;
  top: 92%;
  margin-left: 40%;
  position: fixed;
}
/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button
{
  display: inline-block;
  margin-top: 1em;
  padding: 1em 1em;
  background: #C4376B;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  letter-spacing: 0.20em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.90em;
  color: #FFF;
  style= text-decoration:none;
}
.button:hover
{
  background: #D64077;
}

.button:active
{
  background: #BD3567;
}

.buttonMenu
{
  display: inline-block;
  margin-top: 2em;
  padding: 1em 3em;
  background: #A45E42;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  letter-spacing: 0.20em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.90em;
  color: #FFF;
}
