@font-face {
font-family: "FuenteDubai"; src: url("../fuentes/DUBAI-REGULAR.TTF") format("truetype");
}
@font-face {
font-family: "FuenteMagnetob"; src: url("../fuentes/MAGNETOB.TTF") format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

body {
  background-image:url('https://media.tycsports.com/files/2019/01/29/40299/choripan.jpeg');  
  background-color: pink;
}

.imgBoot{
  height: 25vh;
  width: auto;
  overflow: hidden;
  fill-rule: initial;
}
.imgBoot img{
  transition: all 1.0s ease;
}  
.imgBoot:hover{
  transform: scale(1.1);
}

p {
  color: black;
  font-family: "Arial";
}

ul li {
  display: inline-block;
}
main {
  width: 100vw;
  background: lightcoral;
  clear: both;
}
.CabeceraTitulo{
  display: flex;
  justify-content:  center;
  align-items: flex-start;
}
.Cabecera{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.Contenedor{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.Izquierda {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.Orden{
  display: flex;
  justify-content: flex-End;
  align-items: flex-start;
  flex-direction: column;
  flex-flow: wrap;
}
.FlexDuplex{
  display: flex;
  justify-content:space-between;
}
.Pie {
  display: flex;
  justify-content:  center;
  align-items: flex-end;
}

nav {
  width: 30vw;
  background: lightblue;
  height: 120vh;
  margin: 1%;
  padding: 2px;
  border:  2px solid black;
  box-sizing: border-box;
  overflow: scroll;
}
section {
  width: 65vw;
  background: yellow;
  height: 60vh;
  margin: 1%;
  padding: 2px;
  border:  2px solid black;
  box-sizing: border-box;
}
aside {
  width: 30vw;
  background: green;
  height: 50vh;
  margin: 1%;
  padding: 2px;
  border:  2px solid black;
  box-sizing: border-box;
}

footer {
  width: 20vw;
  background: lightblue;
  border-radius: 5%;
  clear: both;
}

.Video {
  height: auto;
  width: auto;
}

.Mapa {
  height: auto;
  width: auto;
}

.ParrafoBlanco {
  color: white;
  font-size: 1rem;
}
.ParrafoAmarillo {
  color: yellow;
  font-size: 1rem;
}
.ParrafoNegro {
  color: black;
  font-size: 1rem;
}
h1 {
  font-family: "FuenteDubai";
  display: flex;
  justify-content: center;
  color: red;
  text-decoration: underline;
  font-size: 5rem;
}
h2 {
  display: flex;
  justify-content: left;
  color: red;
  font-family: 'Macondo', cursive;
}
.Imagen150x150 {
  background: url("../imagenes/receta.jpg") no-repeat;
  width: 180px;
  height: 180px;
  display:  block;
}
.Imagen150x150:hover{
 background: url("../imagenes/marichimi.jpg") no-repeat;
 width: auto;
 max-height: 100%;
}

.ImagenMediana {
  display: block;
  width: 20vw;
}
.ImagenMediana:hover{
  width: 25vw;
  height: auto;
}
.ImagenGrande {
  width: 40vw;
}
.Grande:hover{
  width: 45vw;
  height: auto;
}
.RedSocial {
  height: 5vh;
  border-radius: 50%;
  align-items: center;
}

.RedSocial:hover{
  width: 4.5vh;
  height: auto;
}

/*********************************************************************************/
/* Ventana Flotante loca Whats                                                                  */
/*********************************************************************************/
.ventanaFlotante {
  height: 10vh;
  width: auto;
  border-radius: 10%;
  border-color: green;
  top: 12%;
  margin-left: 88%;
  position: fixed;
  opacity: 60%;
}
.ventanaFlotante:hover {
  height: 14vh;
  width: auto;
  opacity: 90%;
}

.opClass {
  opacity:100%;
}

.pieFlotante {
  display: flex;
  justify-content: space-around;
  height: 5vh;
  top: 95%;
  position: fixed;
}
/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/
.button
{
  display: inline-flexbox;
  justify-content: space-around;
  margin-top: 1em;
  padding: 1em 1em;
  background: palevioletred;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  letter-spacing: 0.20em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.00em;
  color: white;
}

.button:active
{
  color: green;
}
.button:hover
{
  color: red;
}
.buttonMenu
{
  display: inline-block;
  margin-top: 2em;
  padding: 1em 3em;
  background: #A45E42;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  letter-spacing: 0.20em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.90em;
  color: #FFF;
}

.CelularBreck1{
  height: 10vh;
  border-radius: 50%;
}
.CelularBreck2{
  height: 10vh;
  border-radius: 50%;
}

@media (max-width: 900px) {
h1 {font-size: 20px;}
}

@media (max-width: 700px) {
header {background-image:none;
background-color: orange;}
}
@media (max-width: 750px) {
.Video {display: none;}
}
@media (max-width: 800px) {
.Mapa {display: none;}
}

@media (min-width: 750px) {
.CelularBreck1 {display: none;}
}

@media (min-width: 800px) {
.CelularBreck2 {display: none;}
}
